absl-py==0.6.1
alabaster==0.7.12
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
audioread==2.1.6
babel==2.6.0
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bokeh==1.0.2
boto3==1.9.69
boto==2.49.0
botocore==1.12.69
bz2file==0.98
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
click==7.0
coloredlogs==10.0
cycler==0.10.0
decorator==4.3.0
docutils==0.14
filelock==3.0.10
flake8==3.5.0
flask==1.0.2
future==0.17.1
gast==0.2.0
gensim==3.6.0
gevent==1.3.7
google-api-python-client==1.7.7
google-auth-httplib2==0.0.3
google-auth==1.6.2
googleapis-common-protos==1.5.5
greenlet==0.4.15
grpcio==1.17.1
gunicorn==19.9.0
gym==0.10.9
h5py==2.9.0
httplib2==0.12.0
humanfriendly==4.17
idna==2.6
imagesize==1.1.0
intervaltree==3.0.2
ipython-genutils==0.2.0
ipython==7.2.0
itsdangerous==1.1.0
jedi==0.13.2
jinja2==2.10
jmespath==0.9.3
joblib==0.13.0
keras-applications==1.0.6
keras-preprocessing==1.0.5
librosa==0.6.2
llvmlite==0.26.0
magenta==0.5.0
markdown==3.0.1
markupsafe==1.1.0
matplotlib==2.1.0
mccabe==0.6.1
mesh-tensorflow==0.0.5
mido==1.2.6
mir-eval==0.5
more-itertools==4.3.0
mpmath==1.1.0
networkx==1.8.1
numba==0.41.0
numpy==1.14.2
oauth2client==4.1.3
packaging==18.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pillow==5.3.0
pluggy==0.7.1
pockets==0.7.2
pretty-midi==0.2.8
promise==2.2.1
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycodestyle==2.3.1
pyflakes==1.6.0
pyglet==1.3.2
pygments==2.3.1
pyparsing==2.3.0
pytest==3.6.4
python-dateutil==2.7.5
python-rtmidi==1.1.2
pytz==2018.7
pyyaml==3.13
requests==2.18.4
resampy==0.2.1
rsa==4.0
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.2.0
selenium==3.141.0
six==1.12.0
sk-video==1.1.10
smart-open==1.7.1
snowballstemmer==1.2.1
sonnet==0.1.6
sortedcontainers==2.1.0
sphinx-bootstrap-theme==0.6.5
sphinx==1.7.6
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
sympy==1.3
tensor2tensor==1.11.0
tensorboard==1.12.1
tensorflow-metadata==0.9.0
tensorflow-probability==0.5.0
tensorflow==1.12.0
termcolor==1.1.0
tfds-nightly==0.0.2.dev201812200014
toml==0.10.0
tornado==5.1.1
tox==3.6.0
tqdm==4.28.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.1.0
wcwidth==0.1.7
werkzeug==0.14.1
wheel==0.32.3
wrapt==1.10.11
