absl-py==0.6.1
astor==0.7.1
audioread==2.1.6
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bokeh==1.0.2
boto3==1.9.58
boto==2.49.0
botocore==1.12.58
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
coloredlogs==10.0
cycler==0.10.0
decorator==4.3.0
docutils==0.14
future==0.17.1
gast==0.2.0
gensim==3.6.0
grpcio==1.16.1
h5py==2.8.0
humanfriendly==4.17
idna==2.6
intervaltree==2.1.0
ipython-genutils==0.2.0
ipython==7.2.0
jedi==0.13.1
jinja2==2.10
jmespath==0.9.3
joblib==0.13.0
keras-applications==1.0.6
keras-preprocessing==1.0.5
librosa==0.6.2
llvmlite==0.26.0
magenta==0.4.0
markdown==3.0.1
markupsafe==1.1.0
matplotlib==2.1.0
mido==1.2.6
mir-eval==0.5
numba==0.41.0
numpy==1.14.2
packaging==18.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pillow==5.3.0
pretty-midi==0.2.8
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pygments==2.3.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-rtmidi==1.1.2
pytz==2018.7
pyyaml==3.13
requests==2.20.0
resampy==0.2.1
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
selenium==3.141.0
six==1.11.0
smart-open==1.7.1
sortedcontainers==2.1.0
tensorboard==1.12.0
tensorflow-probability==0.5.0
tensorflow==1.12.0
termcolor==1.1.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
werkzeug==0.14.1
wheel==0.32.3
